    /* STUFFF FROM MEDICINE PATH */
    /* Main Elements */

     /* 
     to do css:
      - background-image
      -
      -
      -
      -
      -
      -
      -
      -

     */
.root-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: -moz-linear-gradient(background-image: -moz-element(backround photos\index.jpg);
}

.image{
  flex: auto;
}

.content-container{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  background-image: -moz-linear-gradient(background-image: -moz-element(backround photos\index.jpg););
}

}
.menu{
  width: 100%;
  height: 30px;
  background-color: #fc0808;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #0b1bf8;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  background-image: -moz-linear-gradient(background-image: -moz-element(backround photos\index.jpg););
}
}

.menu .menu_link {
  font-weight: bold;
  width: 100%;
  height: 30px;
  background-color: #fc0808;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #050505;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  background-image: -moz-linear-gradient(background-image: -moz-element(backround photos\index.jpg););
}
}

.menu_link {
  width: 100%;
  height: 30px;
  background-color: #fc0808;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #0a0a0a;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  background-image: -moz-linear-gradient(background-image: -moz-element(backround photos\index.jpg););
}


.menu{
  font-weight: bold;
  width: 100%;
  height: 30px;
  background-color: #fc0808;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #0b1bf8;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  background-image: url("https://www.pexels.com/photo/view-of-street-from-a-glass-window-531880/"), url("paper.gif");
  background-color: #cccccc;
}

/*
.menu_link {
  background-color: cadetblue;
  height: 100%;
  flex-grow: 1;
}

/* Main Elements */

.root-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-container{
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}
 
.topbar{
  background-color: blue;
  height: 200px;
}


.content {
  background-color: cadetblue;
  height: 100%;
  flex-grow: 1;
}

.widget-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex;
  align-items: center;
}

/* Medicine Path */
//
#medicine path {
  width: 100%;
  height: 30px;
  background-color: #e5e5e5;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #000000;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
}

#medicine-path .medicine-path_link {
  font-weight: bold;
}

.medicine-path-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large ;
  text-decoration-line: underline;
  color: red;
}

.medicine-path-description {
  font-family: "Lucida Console", Courier, monospace;
  font-size: x-large;
  color:black;
  margin: 50px;
  padding: 50px;
  border: 3px solid red;
}

.medicine-path-image {
  flex: inherit;
}

.medicine-path-menu-link {
  flex: unset;
}

.medicine-path-slideshow{

}


/* Medicine Wheel */ 

.medicine-wheel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large ;
  text-decoration-line: underline;
  color: red;
}

.medicine-wheel-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large ;
  text-decoration-line: underline;
  color: red;
}

.medicine-wheel-description {
  font-family: "Lucida Console", Courier, monospace;
  font-size: x-large;
  color:black;
  margin: 50px;
  padding: 50px;
  border: 3px solid red;
}

.medicine-wheel-image {
  flex: inherit;
}

.medicine-wheel-menu-link {
  flex: unset;
}

/* Foundation rights */

.foundation-rights {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large ;
  text-decoration-line: underline;
  color: red;
}

.foundation-rights-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large ;
  text-decoration-line: underline;
  color: red;
}

.foundation-rights-description {
  font-family: "Lucida Console", Courier, monospace;
  font-size: x-large;
  color:black;
  margin: 50px;
  padding: 50px;
  border: 3px solid red;
}

.foundation-rights-image {
  flex: inherit;
}

.foundation-rights-menu-link {
  flex: unset;
}
*/

.menu_link{
  font-weight: bold;
  width: 100%;
  height: 30px;
  background-color: #fc0808;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #050505;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
}

.widget-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex;
  align-items: center;
  background-image: -moz-element(backround photos\ufc backround.jpg);
}




.footer{
  background-color: red;
  height: 100px;
  flex:auto 
  flex-direction: bottom: ;; 
}

.sidebar{
  background-color: burlywood;
  width: 200px;
  height: 100%;
  flex:auto 
  flex-direction: left: ;
}





/* Medicine Path */

#medicine path {
  width: 100%;
  height: 30px;
  background-color: #e5e5e5;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #000000;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
}

#medicine-path .medicine-path_link {
  font-weight: bold;
}

.medicine-path-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large ;
  text-decoration-line: underline;
  color: red;
}

.medicine-path-description {
  font-family: "Lucida Console", Courier, monospace;
  font-size: x-large;
  color:black;
  margin: 50px;
  padding: 50px;
  border: 3px solid red;
}

.medicine-path-image {
  flex: inherit;
}

.medicine-path-menu-link {
  flex: unset;
}

.medicine-path-slideshow{

}
*/

/* Medicine Wheel */ 

.medicine-wheel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large ;
  text-decoration-line: underline;
  color: red;
}

.medicine-wheel-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large ;
  text-decoration-line: underline;
  color: red;
}

.medicine-wheel-description {
  font-family: "Lucida Console", Courier, monospace;
  font-size: x-large;
  color:black;
  margin: 50px;
  padding: 50px;
  border: 3px solid red;
}

.medicine-wheel-image {
  flex: inherit;
}

.medicine-wheel-menu-link {
  flex: unset;
}

/* Foundation rights */

.foundation-rights {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large ;
  text-decoration-line: underline;
  color: red;
}

.foundation-rights-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large ;
  text-decoration-line: underline;
  color: red;
}

.foundation-rights-description {
  font-family: "Lucida Console", Courier, monospace;
  font-size: x-large;
  color:black;
  margin: 50px;
  padding: 50px;
  border: 3px solid red;
}

.foundation-rights-image {
  flex: inherit;
}

.foundation-rights-menu-link {
  flex: unset;
}
    
*/
    /* Home */




.container {
  background-image: url("backround photos\ufc backround.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 400px;
  border: 2px dashed #333;
  background-size: 100% auto;
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

#content{
  margin-top: 30px;
}

.menu{
  width: 100%;
  height: 30px;
  background-color: #fc0808;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #0b1bf8;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
}

.menu .menu_link {
  font-weight: bold;
  width: 100%;
  height: 30px;
  background-color: #fc0808;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #0b1bf8;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
}

.menu_link {
  width: 100%;
  height: 30px;
  background-color: #fc0808;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #0b1bf8;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
}

.UFC-GOAT{
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large ;
  text-decoration-line: underline;
  color: red;
}

.home-images{
  min-width: min-content;
}

.text-box{
  border: 1px solid rgb(9, 0, 128) ;
}

.text-fight-link{
  border: 1px solid rgb(131, 12, 12) ;
}

.fighter-summary{
  font-family: "Lucida Console", Courier, monospace;
  font-size: large;
  color:black;
  margin: 50px;
  padding: 50px;
  border: 3px solid red;
  min-width: min-content;
}

.fighters{
  font-family: fantasy;
  font-size: x-large;
  color: #000000;
  display: flex;
  flex-direction: column;
}

.watch-highlights .highlights-text-order{
  display: flex;
  flex-direction: row;
  position: absolute;
  align-self: center;
  font-size: larger;
}


.Kamuru-Usman{
  color: green; 
  display: flex;
  flex-direction: column; 
} 


.Georges-St-Pierre{
  color: red;
  display: flex;
  flex-direction: column;
}

.conor-mcgregor{
  color: #8ebf42;
  display: flex;
  flex-direction: column;
}

.jon-jones{
  color: darkgoldenrod;
  display: flex;
  flex-direction: column;
}

.daniel-cormier{
  color: darkseagreen;
  display: flex;
  flex-direction: column;
}

.khabib-nurmagomedov{
  color: red;
  display: flex;
  flex-direction: column;
}

.yoel-romero {
  color: blue;
  display: flex;
  flex-direction: column;
}

.israel-adesanya{
  color: greenyellow;
  display: flex;
  flex-direction: column;
}

.Royce-Gracie{
  color: #8ebf42;
  display: flex;
  flex-direction: column;
}

.chuck-liddell {
  color: aqua;
  display: flex;
  flex-direction: column;
}

.chael-sonnen{
  color: #000000;
  display: flex;
  flex-direction: column;
}

.anderson-silva{
  color: yellow;
  display: flex;
  flex-direction: column;
}

/* Fight Reviews */


 .fight-review {
  font-family: fantasy;
  font-size: xx-large;
  font-size-adjust: initial;
  color: #000000;
  width: 800px;
 }

 .fight-review-description {
  font-family: "Lucida Console", Courier, monospace;
  font-size: x-large;
  color:black;
  margin: 50px;
  padding: 50px;
  border: 3px solid red;
  font-style: oblique;
} 

.fr-images > img {
  width: 800px;
}
  
 .Connor-vs-Nate-2 {
  color: black;
}


.Whittaker-vs-Romero-2 {
  color: blue;
}


.Costa-vs-Romero {
  color: red;
}


.Jones-vs-Gustuffson {
  color: darkkhaki
   
}


.Mcgregor-vs-Alvarez {
  color: black;
}


.Diaz-vs-Johnson {
  color: tomato;
}


/* upcoming fights */


.upcoming-fight-container {
  margin: 50px;
  padding: 50px;
  border: 2px solid blue;
}

.upcoming-fight-container .fight-title {
  font-weight: 900;
  font-size: xx-large;  
}

.upcoming-fight-container .fight-row {
  display: flex;
  flex-direction: row;
  font-family: Impact, sans-serif;
  color: blue;
}

.upcoming-fight-container .fight-img {
  flex-grow: 0;
}

.upcoming-fight-container .fight-img img {
  width: 200px;
}

.upcoming-fight-container .fight-description {
  flex-grow: 1;
  font-size: larger;
}

.main-title {
font-family: red serif;
font-size: x-large;
text-decoration-line: underline;
}

.main-opinion-warning {
  font-family: "Lucida Console", Courier, monospace;
  font-size: large;
  color: black;
  margin: 20px;
  padding: 20px;
  border: 1px solid red;
}

.fight-description {
  font-family: "Lucida Console", Courier, monospace;
  font-size: x-large;
  color:black;
  margin: 50px;
  padding: 50px;
  border: 3px solid red;
}


/* MMA News/Stuff */

.mma-news-intro {
  font-family: red serif;
  font-size: x-large;
  font-style: oblique;
}

.welterweight-mma-news .fight-info{
 color: chartreuse;
 font-size: x-large;
 font-style: oblique;
   }

/* MMA News/Stuff */

.backround-credit{
  color: black;
  font-size: x-large;
  font-style: oblique;
  font-family: 'Zen Antique Soft', serif;
    }
