/* Home */

#content{
  margin-top: 30px;
}

#menu{
  width: 100%;
  height: 30px;
  background-color: #e5e5e5;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #000000;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
}

#menu .menu_link {
  font-weight: bold;
}

.UFC-GOAT{
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large ;
  text-decoration-line: underline;
  color: red;
}

.home-images{
  min-width: min-content;
}

.fighter-summary{
  font-family: "Lucida Console", Courier, monospace;
  font-size: large;
  color:black;
  margin: 50px;
  padding: 50px;
  border: 3px solid red;
  min-width: min-content;
}

.fighters{
  font-family: fantasy;
  font-size: x-large;
  color: #000000;
  display: flex;
  flex-direction: column;
}

.watch-highlights .highlights-text-order{
  display: flex;
  flex-direction: row;
  position: absolute;
  align-self: center;
  font-size: larger;
}


.Kamuru-Usman{
  color: green; 
  display: flex;
  flex-direction: column; 
} 


.Georges-St-Pierre{
  color: red;
  display: flex;
  flex-direction: column;
}

.conor-mcgregor{
  color: #8ebf42;
  display: flex;
  flex-direction: column;
}

.jon-jones{
  color: darkgoldenrod;
  display: flex;
  flex-direction: column;
}

.daniel-cormier{
  color: darkseagreen;
  display: flex;
  flex-direction: column;
}

.khabib-nurmagomedov{
  color: red;
  display: flex;
  flex-direction: column;
}

.yoel-romero {
  color: blue;
  display: flex;
  flex-direction: column;
}

.israel-adesanya{
  color: greenyellow;
  display: flex;
  flex-direction: column;
}

.Royce-Gracie{
  color: #8ebf42;
  display: flex;
  flex-direction: column;
}

.chuck-liddell {
  color: aqua;
  display: flex;
  flex-direction: column;
}

.chael-sonnen{
  color: #000000;
  display: flex;
  flex-direction: column;
}

.anderson-silva{
  color: yellow;
  display: flex;
  flex-direction: column;
}

/* Fight Reviews */


 .fight-review {
  font-family: fantasy;
  font-size: xx-large;
  font-size-adjust: initial;
  color: #000000;
  width: 800px;
 }

 .fight-review-description {
  font-family: "Lucida Console", Courier, monospace;
  font-size: x-large;
  color:black;
  margin: 50px;
  padding: 50px;
  border: 3px solid red;
} 

.fr-images > img {
  width: 800px;
}
  
 .Connor-vs-Nate-2 {
  color: black;
}


.Whittaker-vs-Romero-2 {
  color: blue;
}


.Costa-vs-Romero {
  color: red;
}


.Jones-vs-Gustuffson {
  color: darkkhaki
   
}


.Mcgregor-vs-Alvarez {
  color: black;
}


.Diaz-vs-Johnson {
  color: tomato;
}


/* upcoming fights */


.upcoming-fight-container {
  margin: 50px;
  padding: 50px;
  border: 2px solid blue;
}

.upcoming-fight-container .fight-title {
  font-weight: 900;
  font-size: xx-large;  
}

.upcoming-fight-container .fight-row {
  display: flex;
  flex-direction: row;
  font-family: Impact, sans-serif;
  color: blue;
}

.upcoming-fight-container .fight-img {
  flex-grow: 0;
}

.upcoming-fight-container .fight-img img {
  width: 200px;
}

.upcoming-fight-container .fight-description {
  flex-grow: 1;
  font-size: larger;
}

.main-title {
font-family: red serif;
font-size: x-large;
text-decoration-line: underline;
}

.main-opinion-warning {
  font-family: "Lucida Console", Courier, monospace;
  font-size: large;
  color: black;
  margin: 20px;
  padding: 20px;
  border: 1px solid red;
}

.fight-description {
  font-family: "Lucida Console", Courier, monospace;
  font-size: x-large;
  color:black;
  margin: 50px;
  padding: 50px;
  border: 3px solid red;
}


/* MMA News/Stuff */

.mma-news-intro {
  font-family: red serif;
  font-size: x-large;
  font-style: oblique;
}

.welterweight-mma-news .fight-info{
 color: chartreuse;
 font-size: x-large;
 font-style: oblique;
   }

/* MMA News/Stuff */

.backround-credit{
  color: chartreuse;
  font-size: x-large;
  font-style: oblique;
  font-family: 'Zen Antique Soft', serif;
    }
